* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:white;
    font-size: 100px;
 }

.nav,
.header,
.article,
.aside,
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    height: 100vh;
}

.nav {
    height: 100%;
    width: 23%;
    background-color: red;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.row {
    display: flex;
}

.header,
.row,
.footer {
    width: 100%;
    height: 100%;
    background-color: orange;
}

.header,
.footer {
    height: 27%;
}

.article {
    width: 100%;
    background-color: darkblue;
}

.aside {
    width: 23%;
    background-color:red;
}